# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/
*.lock

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties

# Windows
windows/

# macOS
macos/

# iOS
ios/

# Linux
linux/

# Web
web/

# Project
*.log
.env
token

# System
.DS_Store
Thumbs.db
**/GeneratedPluginRegistrant.java
**/gradle-wrapper.jar
**/gradlew
**/gradlew.bat
